# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- In this notebook we will cover some popular languages used by data scientists.
- Some libraries commonly used by Data Scientists
- Some simple python codes in order to present the exercise

__Some of the popular languages that Data Scientists use are:__

1. Python
2. R
3. SQL

Some other languages are also popular used:-

1. Java.
2. Julia.
3. Scala.
4. C/C++
5. JavaScript

__Some of the commonly used libraries used by Data Scientists include:__

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib 
6. PyTorch

|__Data Science Tools__|
|----------------------|
|Jupyter Notebooks     | 
|----------------------|
|R Studio              | 
|----------------------|
|Apache Spark          |
|----------------------|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers

eval = (3*4)+5
print(eval)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = 60
print(minutes/hours)

3.3333333333333335

## Author

Malvika Arora